@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";

.primary-header {
height: 50vh;
min-height: 500px;
background-image: url('https://source.unsplash.com/coJsSbM4yDc/1920x1080');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
